.uplodform {
    max-width: 400px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

.upinput[type="file"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    font-size: 14px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.uplod {
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 1px solid #28a745;
    border-radius: 4px;
    color: #fff;
    background-color: #28a745;
    cursor: pointer;
}

.uplod:hover {
    background-color: #218838;
    border-color: #218838;
}

.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #6c757d;
}

.success-message {
    margin-top: 10px;
    color: #28a745;
    font-weight: bold;
}

.error-message {
    margin-top: 10px;
    color: #dc3545;
    font-weight: bold;
}
